name: GIPHY generator

on:
  issues:
    types: [open, edited]
   pull_request:
    types: [open, edited]
   issue_comment:
    types: [created, edited]
    
jobs:
  giphy-generator:
  runs-on: ubuntu-latest
  
  steps:
  - name: GIPHY generator
    id: giphy_generator
    uses: iamhughes/giphy-generator@v1
    env:
      GITHUB_TOKEN: {{ secrets.GITHUB_TOKEN }}
      GIPHY_TOKEN: ${{ secrets.GIPHY_TOKEN }} # This token should be created on giphy.com: https://developers.giphy.com/dashboard/?create=true
        with:
          rating: 'g'
          lang: 'en'
  
